* {
    scrollbar-width: none;
    scrollbar-color: #808080 #ffffff;
}

*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #808080;
    border: 0px none #ffffff;
}